* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

main {
    background-color: white;
    border-radius: 40px;
    padding: 120px;
}